@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

$py-2: 2rem 0;
$py-3: 3rem 0;
$py-4: 4rem 0;
$primary: #efd005;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./images/background.png");
  font-size: 1.6rem;
}

.image-wrapper > img:nth-child(1) {
  border-radius: 30px;
}

img {
  width: 100%;
}

.main-content {
  padding: $py-4;
  max-width: 70%;
  height: auto;
  margin: auto;

  .title {
    display: flex;
    padding: $py-2;
    justify-content: space-around;
  }

  .inner {
    display: flex;
    justify-content: space-between;

    .content-wrapper {
      display: flex;
      flex-direction: column;
      padding: 10px;
      flex: 1 1 20%;
      background-color: white;
      border: 2px solid grey;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);

      .description {
        color: rgb(109, 109, 109);
      }

      img ~ * {
        padding-top: 30px;
        text-align: center;
      }

      .price {
        color: purple;
        font-weight: bold;
      }
    }

    .content-wrapper:not(:last-child) {
      margin-right: 30px;
    }
  }

  .primary {
    color: $primary;

    &:before {
      content: "--------";
      display: inline-block;
      color: rgb(167, 167, 167);
      padding: 0 4px;
    }
  }
}

@media (min-width: 0) and (max-width: 700px){
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  body {
    font-size: 1rem;
  }
  .title{
    display: flex;
    flex-direction: column;
    & p.header:not(:last-child) {
      margin-bottom: 3px;
    }
  }

  .inner {
    display: flex;
    flex-direction: column;
  }

  .main-content .inner .content-wrapper:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}